<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Действия с книгами</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Управление книгами</h1>
<div>
    <form action="/book/create" method="get">
        <button type="submit">Добавить книгу</button>
    </form>
</div>
<div>
    <form action="/book/instance/create" method="get">
        <button type="submit">Добавить экземпляр существующей книги</button>
    </form>
</div>
<div>
    <!-- Форма и кнопка для изменения книги -->
</div>
</body>
</html>
